<script>
  function validateForm() {
    var x = $("#subjx").val();
    if (!x || x === "") {
        alert("Subject required");
        return false;
    }
    x = $("#predx").val();
    if (!x || x === "") {
      alert("Predicate required");
      return false;
    }
    x = $("#objx").val();
    if (!x || x === "") {
        alert("Object required");
        return false;
    }
    return true;
  }

  function doClick() {
    validateForm();
    document.getElementById("nnForm").submit();
  }
</script>

<h1>{{title}}</h1>

<div style="overflow-y: auto; height:300px;">
    <!-- New note space -->
    <form id="nnForm" method="POST" action="/postnote">
      <input id="subjx" name="subject" placeholder="Subject" type="text" >
      <input id="predx" name="predicate" placeholder="Predicate" type="text" >
      <input id="objx" name="object" placeholder="Object" type="text" ><br/>
      <input name="url" placeholder="url" type="text" ><br/>
      <input name="notes" placeholder="comments" type="text" >
      <input type="button" onclick="doClick()" value="Submit">
    </form>
    <hr>
    {{#each noteList}}
      <p>
        {{date}}<br/>
        {{{text}}}
      </p><br/>
    {{/each}}

</div>



