<p><a href="/">Return to Journal</a></p>
<h1>{{label}}</h1>
<h3>Backlinks</h3>
<div style="overflow-y: auto; height:300px;">
   
    {{#each backlinks}}
        <li>{{{this}}}</li>
    {{/each}}

</div>